BSMART_ACCOUNT_AUTH_DEVELOPMENT=1
BSMART_GOOGLE_IOS_CLIENT_ID=YOUR_IOS_CLIENT_ID.apps.googleusercontent.com
BSMART_GOOGLE_SERVER_CLIENT_ID=YOUR_WEB_CLIENT_ID.apps.googleusercontent.com
BSMART_SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
BSMART_SUPABASE_PUBLISHABLE_KEY=sb_publishable_YOUR_PUBLIC_KEY
